body {
  height: 100vh;
  background-image: url('../images/burnt-close-up-composition-934067.jpg');
  background-size: 1396px 785px;
}

div {
  background-color: rgba(192, 192, 192, 0.8);
  padding: 18px;
  opacity: 0.9;
}

.title__main {
  color: black;
}

.results p {
  color: black;
}
