body {
  background-image: url('../images/in-store-music.jpg') !important;
  background-repeat: no-repeat !important;
  background-position: center top !important;
  background-size: cover !important;
}
.my-container {
  background-color: rgba(255, 255, 255, 0.2) !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}
