<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Your analysis</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>

  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">Your analysis....</h1>
        <p>
          <%  tones.forEach((tone)=> {%>
            The level of <%=tone.tone_name%> is <%=tone.score%>%          
          <p><progress class="progress is-primary" value=<%=tone.score%> max="100"><%=tone.score%>%</progress></p>
        <% })%>
        
        </p>
        <input class="button" type="submit" value="Start again!" onclick="window.location.href='http://localhost:9090'">
        
      </div>
    </section>
  </body>
</html>
